@font-face{
    font-family: neon3D;
    src: url("mexcellent 3d.ttf");
    font-family: neon;
    src: url("mexcellent\ rg.ttf");

}
body{
    font-family: neon3D;
    margin: 20px;
    background: url("brick-wall.jpg") no-repeat center fixed;
    background-size: 100% 100%;
    margin: 0;
}
.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
            'person'
            'edu'
            'profile';
    grid-gap: 15px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#row1, #row2, #row3 {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}
.propic{
    width: 100px;
    height: auto;
    align-items: center;
    border-radius: 3%;
    box-shadow: 0px 0px 10px white;
    margin-bottom: 20px;
    
}
@media screen and (min-width:600px) {
    .propic{
        width: 300px;
        height: 300px;
        border-radius: 3%;
        box-shadow: 0px 0px 20px black;
        align-items: center;
    }
}
.nametext {
    grid-column-start: 2;
    color:white; text-shadow: 10px 10px 10px white;
    padding-bottom: 5px;
}
#jobblink{
    font-size: 20px;
    animation: blink 5s alternate infinite;
    text-shadow: 10px 10px 10px gold;
    color:gold;
}
.put, .tha{
    font-family: neon;
    animation: switch 1s infinite alternate;
}
@keyframes blink{
    from{color:black;text-shadow: 5px 5px 15px black;}
    to{color:gold; text-shadow: 5px 5px 15px gold;}
}
@keyframes switch{
    0%{color:black; text-shadow: 10px 10px 10px white;}
    20%{color:rgb(0, 102, 255); text-shadow: 10px 10px 10px white;}
    30%{color:deeppink; text-shadow: 10px 10px 10px white;}
    50%{color:white; text-shadow: 10px 10px 10px white;}
}
.edu{
    grid-column-start: 2;
    border: 3px solid;
    border-image: linear-gradient(to right, deeppink,deepskyblue);
    border-image-slice: 1;
    padding: 40px;
    padding-top: 10px;
}
.pro{
    grid-column-start: 2;
    border: 3px solid;
    border-image: linear-gradient(to left, deeppink,deepskyblue);
    border-image-slice: 1;
    padding: 40px;
    padding-top: 10px;
}
h2{
    font-family: neon;
    color: deeppink;
    text-shadow: 2px 2px 10px deeppink;
    font-size: 30px;
}
.contact{
    color:white;
    border: 3px solid;
    border-image: linear-gradient(to bottom, deeppink,deepskyblue);
    border-image-slice: 1;
    padding: 40px;
    padding-top:0;
}
@media only screen and (max-width:768px){
    .header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'person'
            'edu'
            'profile';
    }
    #row1{
        grid-area: edu;
    }
    #row2{
        grid-area: person;
    }
    #row3{
        grid-area: profile;
    }
    .body{
        text-align: center;
    }
}
#telicon{
    animation: telblink 2s infinite alternate;
    font-size: 30px;
}
#emailicon{
    animation: emailblink 2s infinite alternate;
    font-size: 30px;
}

#teltext{
    animation: telblink 2s infinite alternate;
    font-size: 16px;
}
#emailtext{
    animation: emailblink 2s infinite alternate;
    font-size: 16px;
}

#facebook{
    animation: faceblink 2s infinite alternate;
    font-size: 30px;
}
#instagram{
    animation: instablink 2s infinite alternate;
    font-size: 30px;
}
#facebooktext{
    animation: faceblink 2s infinite alternate;
    font-size: 16px;
}
#instagramtext{
    animation: instablink 2s infinite alternate;
    font-size: 16px;
}
@keyframes telblink{
    from{color: gold; text-shadow: 0px 0px 15px gold;}
    to{color: white; text-shadow: 0px 0px 15px white;}
}
@keyframes emailblink{
    from{color: lightgreen; text-shadow: 0px 0px 15px lightgreen;}
    to{color: white; text-shadow: 0px 0px 15px white;}
}
@keyframes faceblink{
    from{color: deepskyblue; text-shadow: 0px 0px 15px deepskyblue;}
    to{color: white; text-shadow: 0px 0px 15px white;}
}
@keyframes instablink{
    from{color: deeppink; text-shadow: 0px 0px 15px deeppink;}
    to{color: white; text-shadow: 0px 0px 15px white;}
}
.skill{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 15px;
}
.skill-content{
    grid-column-start: 2;
    text-align: center;
    color:white;
    border: 3px solid;
    border-image: linear-gradient(to top, deeppink,deepskyblue);
    border-image-slice: 1;
}
#skillicon{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    margin:15px;
    font-size:40px;
}
#html{
    color: orangered;
    animation: html-b 2s infinite alternate-reverse;
}
@keyframes html-b {
    from{color: orangered;}
    to{color:white;}
}
#css{
    color: blue;
    animation: css-b 2s infinite alternate-reverse;
}
@keyframes css-b {
    from{color:blue;}
    to{color:white;}
}
#js{
    color: yellow;
    animation: js-b 2s infinite alternate-reverse;
}
@keyframes js-b {
    from{color:yellow;}
    to{color:white;}
}
#angular{
    color: red;
    animation: angular-b 2s infinite alternate-reverse;
}
@keyframes angular-b {
    from{color:red;}
    to{color:white;}
}
#java{
    color: grey;
    animation: java-b 2s infinite alternate-reverse;
}
@keyframes java-b {
    from{color:grey;}
    to{color:white;}
}
#python{
    color: deepskyblue;
    animation: python-b 2s infinite alternate-reverse;
}
@keyframes python-b {
    from{color:deepskyblue;}
    to{color:wheat;}
}
table{
    text-align: center;
    width: 100%;
}
li{
    color:white;
    animation: liblink 5s infinite alternate;
    text-shadow: 2px 2px 12px white;
}
@keyframes liblink{
    from{color:white;text-shadow: 2px 2px 12px white;}
    to{color:gold;text-shadow: 2px 2px 12px gold;}
}
